@charset "EUC-KR";

.logo_nav {
	height: 40px;
}

.header {
	background-color: var(--main-color);
	padding: 10px 0px 10px 20px;
	height: 35px;
	display: block;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 240;
	height: 60px;
}

.main {
	display: block;
	height: 100%;
	padding: 60px 0;
}

.main_container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 60px 0;
	padding: 0 !important;
}

.main_nav {
	width: 230px;
	overflow: auto;
	overflow-x: hidden;
}

.main_contents {
	overflow: auto;
	overflow-x: hidden;
	height: 100%;
}

.btn_search {
	border: none;
	background: none;
}

.img_search {
	height: 25px;
}

.input_search {
	background: none;
	border: none;
	color: white;
	width: 255px;
	font-family: bmHannaAir;
	font-size: 20px;
}

.input_search::placeholder {
	color: white;
	font-family: bmHannaAir;
	font-size: 20px;
}

.btn_upload {
	padding: 0;
	width: 200px;
	height: 50px;
	margin: 15px auto;
	border: 1px solid var(--main-color);
	background-color: white;
	color: var(--main-color);
	font-family: bmHannaPro;
	font-size: 27px;
	border-radius: 5px;
}

.btn_upload:hover {
	background-color: var(--main-color);
	color: white;
}

.btn_nav {
	display: block;
	border: none;
	background: none;
	font-family: bmJua;
	font-size: 20px;
	margin: 0;
	text-align: left;
	padding: 15px 20px;
	width: 230px;
	border-radius: 5px;
}

.btn_nav:hover {
	background-color: rgba(243, 112, 34, 0.3);
}

.img_btn_nav {
	margin-right: 20px;
	width: 35px;
}

.btn_grp {
	border-top: 4px double rgba(107, 107, 107, 0.3);
}

.cap {
	font-size: 15px;
}

.btn_main {
	background: none;
	border: none;
	font-size: 30px;
	padding: 10px 20px;
	font-family: bmHannaAir; 
	font-weight: bold;
}

.btn_main:hover {
	color: var(--main-color);
}

.img_thumb {
	width: 110px;
	height: 110px;
}

.btn_thumb {
	padding: 0;
    margin: 0;
    background: #f0f0f0;
    border: none;
    width: 180px;
    height: 180px;
}

.btn_thumb:hover {
	opacity: 0.7;
}

.thumb_cap {
	margin-top: 5px;
	font-family: bmHannaAir;
	font-size: 20px;
	font-weight: bold;
}

.drive_thumb {
	width: 25px;
    position: absolute;
    right: 24px;
    top: 12px;
}

.logo_list {
	width: 30px;
}

.pages_table {
	margin-top: 20px;
	margin-left: 70px;
	border-top: none;
	font-family: bmHannaAir;
}

.pages_table thead {
	font-size: 20px;
}

.pages_table tbody {
	font-size: 18px;
}

.pages_table td:hover {
	cursor: pointer;
}